:root{
    --font-color: #b8a554;
    --bg-color: #272725;
    --bg-color-2: #1F1E1c;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
}

header {
    text-align: center;
    background-color: var(--bg-color-2);
}

header .container-fluid{
    color: var(--font-color);
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
}

.offset-md-4, .mb-3{
    margin-top: 1rem;
}

.img-section{
    height: 45rem;
    padding: 0;
    background-image: url('assets/background01.png');
    background-size: cover;
    transition: 2s linear;
}

.img-text{
    height: 40rem;
    color: #F4F3F2;
}

.display-1{
    margin-top: 4rem;
}

.section-1 {
    margin-top: 3.5rem;
}

.img-fluid{
    border-radius: 10px;
}

.carousel-control-prev, .carousel-control-next {
    color: var(--font-color);
}

.section-text {
    margin-right: 2rem;
    background-color: var(--bg-color-2);
    border-radius: 10px;
}

.section-text p {
    color: var(--font-color);
    font-family: "Saira", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-bottom: 3rem;
}

h1 {
    font-family: "Iceberg", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-weight: bold;
    text-align: justify;
}

.btn-outline-primary {
    color: var(--font-color);
    border-color: var(--font-color);
    font-family: "Saira", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.btn-outline-primary:hover {
    color: #111;
    background-color: var(--font-color);
    border-color: var(--font-color);
}

.section-2 {
    font-family: "Iceberg", sans-serif;
    margin-top: 3.5rem;
}

.section-2 .btn {
    font-family: "Poppins", sans-serif;
    text-align: justify;
}

footer {
    margin-top: 1.5rem;
    padding: 0.5rem;
    background-color: var(--bg-color-2);
    color: var(--font-color);
}

footer p {
    margin-bottom: 0;
    text-align: center;
}

footer a {
    color: var(--font-color);
    text-decoration: none;
}

footer a:hover {
    color: #fff;
    transition: 1.8s;
}