:root{
    --font-color: #b8a554;
    --bg-color: #0C1015;
    --bg-color-2: #14171F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
}

header {
    text-align: center;
    background-color: var(--bg-color-2);
}

header .container-fluid{
    color: var(--font-color);
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
}

.offset-md-4, .mb-3{
    margin-top: 1rem;
}

.img-section{
    min-height: 45rem;
    height: auto;
    width: 100%;
    padding: 0;
    background-image: url('/assets/background01.png');
    background-size: cover;
    transition: 2s linear;
}

.img-text{
    height: 40rem;
    color: #D3D3D3;
    text-shadow: 3px 3px #0C1015;
}

.display-1{
    margin-top: 4rem;
}

.section-1 {
    margin-top: 3.5rem;
    padding: 1rem;
}

.img-fluid{
    border-radius: 10px;
    height: 580px;
    width: 320px;
}

.carousel-control-prev, .carousel-control-next {
    color: var(--font-color);
}

.section-text {
    margin-right: 2rem;
    background-color: var(--bg-color-2);
    border-radius: 10px;
}

.section-text p {
    color: var(--font-color);
    font-family: "Saira", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-bottom: 1rem;
}

.section-1 h6 {
    font-family: "Iceberg", sans-serif;
}

.section-1 .btn {
    font-family: "Poppins", sans-serif;
    text-align: justify;
    margin-bottom: 1.5rem;
}

h1 {
    font-family: "Iceberg", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-weight: bold;
    text-align: justify;
}

.btn-outline-primary {
    color: var(--font-color);
    border-color: var(--font-color);
    font-family: "Saira", sans-serif;
    font-weight: 500;
    font-style: normal;
    transition: 0.3s linear;
}

.btn-outline-primary:hover {
    color: var(--bg-color);
    background-color: var(--font-color);
    border-color: var(--font-color);
}

.section-2 {
    margin-top: 2.5rem;
    background-color: var(--bg-color-2);
    border-radius: 10px;
    max-width: 480px;
    width: 100%; 
    margin: 2rem auto; 
    padding: 1rem;
}

.section-2 h6 {
    font-family: 'Iceberg';
}

.section-2 p {
    color: var(--font-color);
    font-family: "Saira", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: justify;
    padding: auto;
}


.section-2 .btn {
    font-family: "Poppins", sans-serif;
    transition: 0.3s linear;
}

.section-2 .btn:hover {
    color: var(--bg-color);
}

footer {
    margin-top: 1.5rem;
    height: 100%;
    padding: 0.5rem;
    background-color: var(--bg-color-2);
    color: var(--font-color);
}

footer p {
    margin-bottom: 0;
    text-align: center;
}

footer a {
    color: var(--font-color);
    text-decoration: none;
}